<div class="image">
<form action="/artist-search" method="get" id="form1">

<input type="text" name="artist" placeholder="artist's name"><br><br>

</form>

<button class="btn btn-primary btn-lg" type="submit" form="form1" value="Submit">Submit</button>
</div>

